.footer__container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer__title {
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-2);
  }
  
  .footer__social {
    display: flex;
    flex-wrap: wrap; /* Allow social links to wrap to the next line */
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: var(--mb-2);
  }
  
  .footer__social-link {
    background-color: var(--title-color);
    color: var(--container-color);
    font-size: 1.25rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex;
  }
  
  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
    .footer__social {
      justify-content: center;
    }
  }
  