.skills__item {
    display: flex;
    gap: 100px;
    justify-content: center; /* Menengahkan item secara horizontal */
}
.skills_list, img{
    width: 45px;
}
.skills__container {
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1); 
    padding: 45px;
    width: 734px;
    border-radius: 25px;
}
@media screen and (max-width: 992px) {

    .skills__item{
        gap: 75px;
    }
    .skills__container {
        width: auto;
        padding:15px;
    }

    .skills__list, img {
        width: 25px;
    }

}

